.lora {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

* {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

nav {
    z-index: 100;
}

.nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 100%;
    gap: 1%;
    margin-right: 20px;
}

div.navItem a {
    color: #f96a27;
    margin: 10px;
    text-decoration: none;
}


.navItem i {
    margin: 5px;
}


h4 {
    color: #FFAA83;
    background-color: rgba(255, 255, 255, 0.623);
}

.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img {
    z-index: -1;
    --_g: 10% /45% 45% no-repeat linear-gradient(#000 0 0);
    --m:
        left var(--_i, 0%) top var(--_g),
        bottom var(--_i, 0%) left var(--_g),
        top var(--_i, 0%) right var(--_g),
        right var(--_i, 0%) bottom var(--_g);
    -webkit-mask: var(--m);
    mask: var(--m);
    filter: grayscale();
    transition: .3s linear;
    cursor: pointer;
}

.home-img:hover {
    --_i: 10%;
    filter: grayscale(0);
}

.div-img {
    margin: 0;
    display: grid;
    min-height: 100vh;
    grid-auto-flow: column;
    place-content: center;
    gap: 40px;
}

p {
    color: #964569;
}


.logo-img-bm {
    width: 50px;
    height: 50px;
}

.logo-img-bm:hover {
    display: inline-block;
    margin: 0.01rem;

    animation: pulse;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    /* don't forget to set a duration! */
}

.blockquote {
    padding: 60px 80px 40px;
    position: relative;
}

.blockquote p {
    font-family: "Utopia-italic";
    font-size: 35px;
    font-weight: 700px;
    text-align: center;
}

/*blockquote p::before {
    content: "\f095"; 
    font-family: FontAwesome;
   display: inline-block;
   padding-right: 6px;
   vertical-align: middle;
  font-size: 180px;
 }*/

.blockquote:before {
    position: absolute;
    font-family: 'FontAwesome';
    top: 0;

    content: "\f10d";
    font-size: 200px;
    color: rgba(0, 0, 0, 0.1);

}

.blockquote::after {
    content: "";
    top: 20px;
    left: 50%;
    margin-left: -100px;
    position: absolute;
    border-bottom: 3px solid #bf0024;
    height: 3px;
    width: 200px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);

.otro-blockquote {
    font-size: 1.1em;
    width: 80%;
    margin: 50px auto;
    font-family: Open Sans;
    font-style: italic;
    color: #555555;
    padding: 1.2em 30px 1.2em 75px;
    border-left: 8px solid #f96a27;
    line-height: 1.6;
    position: relative;
    background: #EDEDED;
}

.otro-blockquote::before {
    font-family: Arial;
    content: "\201C";
    color: #f96a27;
    font-size: 4em;
    position: absolute;
    left: 10px;
    top: -10px;
}

.otro-blockquote::after {
    content: '';
}

.otro-blockquote span {
    display: block;
    color: #333333;
    font-style: normal;
    font-weight: bold;
    margin-top: 1em;
}